<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
      type="FindOrphaned.Extension, FindOrphaned">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
